
.leaderboard h1 {
  font-size: 38px;
  font-weight: bold;
  align-self: flex-start;
}

section {
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
  margin-left: 3%;
}

.recent-scores {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.recent-scores p {
  font-size: 24px;
  font-weight: bold;
}

.scores-div {
  min-height: 50px;
  border: solid 2px black;
  margin-top: 0;
  padding-left: 0;
  max-height: 90px;
  overflow-y: auto;
  max-width: 206.6px;
}

.scores-li {
  list-style: none;
  margin-left: 10px;
}

.msg-submit {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 20px;
}

#message {
  display: none;
  margin: 0;
  font-size: 12px;
  font-weight: 100;
  color: green;
  margin-left: 10px;
}

#message.active {
  display: block;
}

#message.empty {
  display: block;
  color: red;
}

.submit {
  border: 1px solid black;
  padding: 5px;
  cursor: pointer;
}

.refresh {
  border: 1px solid black;
  padding: 5px;
  cursor: pointer;
}

.add-scores {
  display: flex;
  flex-direction: column;
  flex-basis: 206px;
}

.add-scores p {
  font-size: 24px;
  font-weight: bold;
}

.name {
  margin-bottom: 10px;
}

.score {
  margin-bottom: 10px;
}
